{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="card mx-auto" style="width: 40rem;">
            <div class="card-body">
                <h5 class="card-title mb-3">{{ticket.title}}</h5>
                <p><b>Тип: </b>
                    <small>{{ticket.get_ticket_type_display}}</small></p>
                <p class="card-text">{{ticket.description}}</p>

                <div class="row">
                    <div class="col">
                        <b>Отделение: </b> {{ticket.department}}
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <b>Дата создания: </b> {{ticket.date_created}}
                    </div>
                    <div class="col">
                        <b>Подана: </b> {{ticket.created_by.last_name}} {{ticket.created_by.first_name}}
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <b>Статус: </b>
                        {% if ticket.ticket_status == 'Active' %}
                            <td><span class="badge bg-success">Активна</span></td>
                        {% elif ticket.ticket_status == 'Pending' %}
                            <td><span class="badge bg-warning">Ожидание</span></td>
                        {% elif ticket.ticket_status == 'Completed' %}
                            <td><span class="badge bg-danger">Закрыта</span></td>
                        {% endif %}
                    </div>
                    <div class="col">
                        <b>Кем принята: </b> {{ticket.assigned_to.last_name}} {{ticket.assigned_to.first_name}}
                    </div>
                    <div class="row">
                </div>
                </div><br>
            </div>
        </div>
    </div>
</div>

<br>
{% if not ticket.is_resolved %}
  {% if request.user.is_engineer %}
      <a href="#" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Закрыть заявку</a>
  {% endif %}
      <a href="{% url 'update-ticket' ticket.pk %}" class="btn btn-primary">Обновить заявку</a>
{% endif %}


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Подтверждение.</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Закрыть заявку?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
        <a href="{% url 'close-ticket' ticket.pk %}" class="btn btn-primary">Подтвердить</a>
      </div>
    </div>
  </div>
</div>


{% endblock content %}