{% extends 'users/base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="card mx-auto" style="width: 40rem;">
            <div class="card-body">
                <h5 class="card-title mb-3">Страница регистрации</h5>

                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form=label">Имя пользователя</label>
                        {% render_field form.username class="form-control" %}
                    </div>
                    <div class="mb-3">
                        <label class="form=label">Фамилия</label>
                        {% render_field form.last_name class="form-control" %}
                    </div>
                    <div class="mb-3">
                        <label class="form=label">Имя</label>
                        {% render_field form.first_name class="form-control" %}
                    </div>
                    <div class="mb-3">
                      <div class="mb-3">
                        <label class="form=label">Отделение</label>
                        {% render_field form.department class="form-control" %}
                    </div>
                    <div class="mb-3">
                        <label class="form=label">Пароль</label>
                        {% render_field form.password1 class="form-control" %}
                    </div>
                    <div class="mb-3">
                        <label class="form=label">Подтверждение пароля</label>
                        {% render_field form.password2 class="form-control" %}
                    </div>

                    <button class="btn btn-primary">Регистрация</button>
                </form>
            </div>
        </div>

{% endblock content %}

